<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.ivory.dao.MemberDao">

	<!-- 회원가입 -->
	<insert id="register" parameterType="egovframework.example.ivory.vo.MemberVo">
		INSERT INTO member( userId,userPw,userEmail,enterDate,userName)
		VALUES(#{userId},#{userPw},#{userEmail},now(),#{userName})
	</insert>		

	<!--아이디확인 -->
	<select id="idCheck" parameterType="egovframework.example.ivory.vo.MemberVo" resultType="int">
		SELECT COUNT(*) FROM member
		WHERE
			userId=#{userId}
	</select>

	<select id="login" parameterType="egovframework.example.ivory.vo.LoginDto" resultType="int">
		SELECT COUNT(*) FROM member
		WHERE userId=#{userId}
	</select>

	<!-- 	로그인 -->
	<select id="loginCheck"  parameterType="egovframework.example.ivory.vo.MemberVo" resultType="int">
		SELECT COUNT(*)
		FROM member
		WHERE userId = #{userId} AND userPw=#{userPw}
	</select>
	
	<select id = "viewMember" resultType="egovframework.example.ivory.vo.MemberVo">
		SELECT
		userId AS userId,
		userPw AS userPw,
		userEmail AS userEmail,
		enterDate AS enterDate,
		userName As userName
		FROM member
		WHERE userId = #{userId}
		   AND userPw= #{userPw}   
	</select>

</mapper>