<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.example.ivory.service.ReplyMapper"> 

	<!-- 댓글 키 생성 -->
	<select id="selectReplyNo" resultType="java.lang.String">
	SELECT IFNULL(MAX(replyNo),0)+1 FROM reply	
	</select>


	<!-- 댓글 조회 -->
	<select id="replyList" parameterType="java.lang.String" resultType="egovframework.example.ivory.vo.ReplyVo">
	    SELECT
	        replyNo, testId, writer, content, regDate
	    FROM reply
	        WHERE testId = #{testId}        
	</select>

	<!-- 댓글 작성 -->
	<insert id="replyWrite" parameterType="egovframework.example.ivory.vo.ReplyVo">
	    INSERT INTO reply(testId,replyNo, writer, content, regDate)
	        VALUE(#{testId},#{replyNo}, #{writer}, #{content}, #{regDate})
	</insert>
	    
	<!-- 댓글 수정 -->
	<update id="replyModify" parameterType="egovframework.example.ivory.vo.ReplyVo">
	    UPDATE reply SET
	        writer = #{writer},
	        content = #{content}
	    WHERE  replyNo= #{replyNo}    
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="replyDelete"  parameterType="java.lang.String">
	    DELETE FROM reply
	    WHERE  replyNo = #{replyNo}
	</delete>

</mapper>